body {
    background-color: purple;
    color: #0ff;
}

header {
    background-color: #f79696;
}

main{
    background-color: rgb(169, 250, 250);
    color: black;
    margin-top: 100px;
}

button {
    background-color: rgb(0, 255, 76);
    padding: 15px 55px;
    margin: 20px;
    border-radius: 20px;
}

footer {
    background-color: #fbff00;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 0px;
    margin-top: 130px;
}

img {
    border-radius: 20px;
}

a {
    color: rgb(255, 30, 30);
    padding: 0px 20px;
    margin: 100px;
    border-style: solid;
}

strong {
    color: #4c00ff;
}

span{
    color: #fd6022;
    border: 1px solid #ff0000;
    padding: 10px;
}